.socials {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--accent-color-main);
  border-radius: 100px;
}

.socials li {
  height: 3em;
  width: 3em;
  list-style: none;
  transition: 0.15s;
}

.socials li:hover {
  scale: 1.05;
  filter: drop-shadow(rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px);
}

.socials button {
  background-color: transparent;
  outline: none;
  border: none;
}

.socials img {
  width: 100%;
}
