.player {
  width: 35%;
  margin-bottom: -0.35rem;
}

.player button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  width: 100%;
  border-radius: 100px;
  transition: transform 0.25s;
}

.player button:hover {
  filter: brightness(98%);
  cursor: pointer;
  transform: translateY(-3%);
}

.player-icon {
  color: var(--accent-color-main);
  width: 1.75em !important;
  height: 1.75em !important;
}
