@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Roboto&display=swap');

:root {
  --main-color: #FEFCF3;
  --filler-color: #F5EBE0;
  --accent-color-main: #DBA39A;
  --accent-color-alt: #F0DBDB;


  --main-font: 'Roboto', sans-serif;
  --filler-font: 'Bebas Neue', cursive;
  --accent-font: 'Lobster', cursive;
}