@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Grandstander:wght@300&family=Roboto&display=swap');

:root {
  --main-color: #d7eaf3;
  --accent-color-main: #77b5d9;

  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Concert One', cursive;
}