.timer {
  display: grid;
  justify-content: center;
  grid-template-rows: 70% 1fr;
  background-color: var(--accent-color-main);
  padding: 2rem 0rem;
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 25vw;
  z-index: 100;
}

.timer h3 {
  font-size: 7.5rem;
  font-family: var(--accent-font);
  color: var(--main-color);
}

.timer-options {
  margin-top: -0.35rem;
  gap: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-options button {
  font-size: 1.5rem;
  background-color: var(--main-color);
  font-family: var(--accent-font);
  outline: none;
  border: 3px solid var(--accent-color);
  border-radius: 100px;
  color: var(--accent-color-main);
  padding: 0.5rem 2rem;
  transition: 0.0125s;
}

.timer-options button:hover {
  filter: brightness(97.5%);
}
.timer-options button:active {
  scale: 0.975;
}

.timer-options p {
  font-size: 2.5em;
  color: var(--main-color);
  font-family: var(--accent-font);
}

@media screen and (max-width: 1200px) {
  .timer {
    width: 35vw;
  }
}

@media screen and (max-width: 750px) {
  .timer {
    width: 75vw;
  }
}

@media screen and (max-width: 425px) {
  .timer {
    width: 85vw;
  }
}
